html, body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%
}

.container {
    height: 100%;
}

.root-container {
    height: 100%;
    display: flex;    
    flex-direction: column;
    align-items: stretch;
}

.header {
    background-image: url('https://i.imgur.com/wwDigeW.jpg');
    background-size: cover;
    height: 300px;
    display: flex;
    flex: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-title {
    font-size: 48px;
}

.header-subtitle {
    font-size: 24px;
}

.header-add {
    position: relative;
    font-size: 12px;
    top: 70px;
}

.footer {
    position: relative;
    background-color:#f3f5f7;
    width: 100%;
    display: flex;
    align-items: center;
    flex: none;
}

.footer-credits {
    margin: 15px;
}

.content {
    padding-top: 25px;
    flex: 1;
}

.col-title {
    font-size: 32px;
    text-align: center;
}

.auth-form {
    align-self: center;
    width: 35%;
}

.auth-form-bottom {
    display: flex;
    align-items:center;
    justify-content: right;
    margin-top: 25px;
}

.background-image-container {
    background-image: url('background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}